@charset "utf-8";

/* 폰트 */
/* Pretendard Variable */
/* font-family: "Pretendard Variable", sans-serif; */
/* Prata */
/* font-family: "Prata", serif; */

/* 초기화 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
li {
  list-style: none;
}

html {
  font-size: 10px;
}
body {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #212121;
  color: #fff;
}
/*img, iframe{vertical-align: top;}*/
img,
iframe {
  display: block;
}
.center {
  width: 1200px;
  margin: 0px auto;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  transition: 300ms;
}
a:hover,
a:focus,
a:active {
  color: #69f;
}

/* header */
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  border-bottom: 1px solid #ccc;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.logo {
  align-self: center;
  /* 로고 너비 지정 */
  width: 65px;
}

.logo > a > img {
  width: 100%;
}

.gnb > a {
  margin-left: 40px;
}
.section-title {
  font-family: 'Prata', serif;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 80px;
  text-align: center;
}
.section-sub-title {
  font-family: 'Prata', serif;
  font-size: 3rem;
  margin: 80px 0 100px 0;
  text-align: center;
}

/* main visual */
#main-visual {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}
#main-visual > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#profile {
  margin-top: 80px;
}
.about-inner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.ab-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  flex-shrink: 0;
}
.ab-img-wrap > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* 사진을 원형으로 만들기 위한 코드, 사각형으로 하려면 삭제 */
  border-radius: 50%;
}
.ab-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}
.ab-text-wrap > h4 {
  font-size: 3.6rem;
  font-weight: 700;
}
.ab-text-wrap h5 {
  font-size: 2rem;
  font-weight: 500;
}
.ab-text-wrap > h5 {
  margin: 60px 0px;
}

/* skill */
#skill {
  margin: 160px auto;
}
#skill > ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
#skill h4 {
  font-weight: 700;
  margin-bottom: 32px;
}
#skill h4 > strong {
  display: block;
  font-size: 2.6rem;
  font-weight: 800;
}

/* work */
.card-thumbnail > img {
  width: 100%;
}
.card-detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.card-detail > h5 {
  font-size: 3rem;
}
.card-detail > ul {
  margin: 20px 0;
}
.card-detail > ul > li {
  line-height: 2.6rem;
}
.card-detail .long-btns {
  display: flex;
}
.card-detail .long-btns > a {
  color: #212121;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  line-height: 38px;
  border: 1px solid #516768;
  padding: 0px 25px;
  border-radius: 32px;
  font-style: italic;
}
.card-detail .long-btns > a:first-child {
  margin-right: 20px;
}
.card-detail .long-btns > a:hover,
.card-detail .long-btns > a:focus {
  background-color: #fff;
  color: #333;
}

/* 카드형 슬라이더 */
:root {
  --card-width: 500px;
  --blur-value: 4px; /* 블러 강도 조절 */
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  overflow: hidden;
  margin-bottom: 150px;
}

.slider-track {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--card-width);
  height: 100%;
  transition: transform 0.5s ease;
  cursor: grab;
  user-select: none; /* 드래그 시 내부 텍스트나 번호가 선택되지 않게 방지 */
}

.slider-track:active {
  cursor: grabbing; /* 클릭 중일 때 꽉 쥔 손모양 */
}

.card {
  position: absolute;
  min-width: var(--card-width);
  color: #212121;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;

  /* 기본 상태: 크기 줄이고 뒤로 보냄 */
  transform: scale(0.8);
  transition: all 0.5s ease;
  z-index: 1;
}

/* 블러 효과 */
.blur-effect {
  filter: blur(var(--blur-value));
}

/* 가운데 강조된 카드 */
.card.active {
  transform: scale(1);
  opacity: 1;
  z-index: 10;
  transform: translateX(0) scale(1);
  filter: blur(0); /* 활성 카드는 블러 제거 */
}

/* 왼쪽 카드 */
.card.prev-card {
  opacity: 0.8;
  z-index: 5;
  transform: translateX(-300px) scale(0.8);
  filter: blur(var(--blur-value));
}

/* 오른쪽 카드 */
.card.next-card {
  opacity: 0.8;
  z-index: 5;
  transform: translateX(300px) scale(0.8);
  filter: blur(var(--blur-value));
}

.controls {
  margin-top: 10px;
}

.indicator-container {
  display: flex;
  gap: 15px; /* 점 사이 간격 */
  padding: 10px 0;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #555; /* 비활성 상태 색상 */
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 활성화된 점 스타일 */
.dot.active {
  background-color: #fff; /* 활성 상태 색상 */
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

/* img-slider */
.img-slider-wrap {
  width: 60%;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.img-slider {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

.img-slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.img-description {
  width: 400px;
  text-align: left;
}
.img-description > h6 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.img-description > ul > li {
  margin: 20px 0;
}

/* 개별 페이지 */
.page {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.page img {
  width: 100%;
  display: block;
}

.caption {
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 500;
}

/* 좌우 네비게이션 버튼 공통 스타일 */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;

  /* 가로로 늘어나는 것을 방지하기 위해 크기 고정 */
  width: 30px !important;
  height: 30px !important;
  min-width: 30px; /* 최소 크기 보장 */

  cursor: pointer;
  z-index: 10;

  /* 정중앙 정렬을 위한 필수 속성 */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 텍스트 크기 조절 */
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #333;
}
.slider-btn > img {
  width: 40%;
}
/* 각 버튼의 가로 위치 */
.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* 버튼이 숨겨질 때 사용할 클래스 */
.hidden {
  opacity: 0;
  pointer-events: none; /* 클릭 안되게 설정 */
}

.img-indicator {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0;
  z-index: 10;
}

.img-indicator .dot {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.img-indicator .dot.active {
  background: #fff; /* 활성화되면 선명한 흰색 */
}

/* shorts */
.short {
  margin-top: 80px;
}
.short > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.short > ul > li {
  width: 23.5%;
}
.short > ul > li > a {
  position: relative;
}
.short > ul > li > a > div.short-title {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: 0.6s;
}
.short > ul > li > a:hover > div.short-title {
  opacity: 1;
}
.short > ul > li > a > div.short-title > span {
  display: block;
  margin-bottom: 24px;
  font-size: 2rem;
}
.short > ul > li > a > div.short-title > img {
  width: 60px;
}
.short-thumnail {
  width: 100%;
}

/* contact */
#contact {
  margin: 160px 0px;
}
#contact .contact-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
}

#contact .contact-list > li > a {
  display: flex;
  gap: 10px;
}

/* footer */
footer {
  text-align: center;
  padding: 40px;
  background-color: #000;
}

/* 특정 스크롤 값에서 맨위로가기 버튼이 보였다 안보였다 설정 디자인 */
.btn-top {
  position: fixed;
  width: 40px;
  right: 60px;
  bottom: 120px;
  opacity: 0;
  transition: 0.5s;
}
.btn-top img {
  width: 100%;
}
.btn-top.show {
  opacity: 1;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 1.4rem;
  }
  .center {
    width: initial;
    padding: 0px 32px;
  }
  header {
    padding: 10px 0px;
  }
  .section-title {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .section-sub-title {
    font-family: 'Prata', serif;
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
  }
  #about {
    margin-top: calc((100vw * 9 / 16) + 80px);
  }
  .ab-img-wrap {
    width: 40%;
  }
  .ab-img-wrap > img {
    width: 100%;
  }
  .ab-text-wrap {
    padding-left: 6rem;
  }
  .ab-text-wrap > h4 {
    font-size: 2.8rem;
  }
  .ab-text-wrap > h5 {
    font-size: 1.6rem;
  }
  #skill {
    margin: 100px 0px;
  }
  #skill h4 > strong {
    font-size: 2.2rem;
  }
  :root {
    --card-width: 420px;
  }
  .long-list > li {
    display: block;
    margin-bottom: 60px;
  }
  .long-thumbnail > img {
    width: 100%;
  }
  .card-detail {
    padding: 20px 0px;
  }
  .card-detail > ul {
    margin: 20px 0px;
  }
  /* img-slider */
  .img-slider-wrap {
    width: 680px;
  }
  .short {
    margin-top: 40px;
  }
  .short > ul > li {
    flex: 1 1 0;
    margin: 0px 20px;
  }
  .short > ul > li:first-child {
    margin-left: 0px;
  }
  .short > ul > li:last-child {
    margin-right: 0px;
  }
  .short > ul > li > a {
    display: block;
  }
  .short > ul > li > a > img {
    width: 100%;
  }
  #contact {
    margin: 100px 0px;
  }
  footer {
    padding-bottom: 40px;
  }
} /* tablet End */

/* mobile */
@media screen and (max-width: 767px) {
  :root {
    --card-width: 310px;
  }

  body {
    font-size: 1.4rem;
  }
  .center {
    width: initial;
    padding: 8px 18px;
  }
  .gnb > a {
    font-size: 1.4rem;
    margin-left: 10px;
  }
  #main-visual > video {
    top: 46px; /* 본인의 헤더 높이만큼 설정 */
  }
  .section-title {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .section-sub-title {
    font-family: 'Prata', serif;
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
  }
  #about {
    margin-top: calc((100vw * 9 / 16) + 60px);
    text-align: center;
  }
  .about-inner {
    display: block;
    width: 80%;
  }
  .ab-img-wrap {
    width: 70%;
    margin: 0px auto;
  }
  .ab-img-wrap > img {
    width: 100%;
  }
  .ab-text-wrap {
    width: 80%;
    padding-left: 0;
    margin: 28px auto 0 auto;
  }
  .ab-text-wrap > h4 {
    font-size: 2.2rem;
  }
  .ab-text-wrap > h5 {
    font-size: 1.6rem;
    margin: 24px 0px;
  }
  .ab-text-wrap h5 {
    font-size: 1.6rem;
  }
  #skill {
    margin: 100px 0px;
  }
  #skill h4 {
    margin-bottom: 16px;
  }
  #skill h4 > strong {
    font-size: 2.2rem;
  }
  #skill > ul {
    flex-wrap: wrap;
  }
  #skill > ul > li {
    width: 50%;
    margin-bottom: 40px;
  }
  #skill > ul > li:last-child {
    margin-bottom: 0px;
  }
  /* slider */
  .slider-container {
    height: 550px;
  }
  .card-thumbnail > img {
    width: 100%;
  }
  .card-detail {
    padding: 20px;
  }
  .card-detail > h5 {
    font-size: 2.6rem;
  }
  .card-detail > ul {
    margin: 20px 0px;
  }
  .card-detail .long-btns > a {
    font-size: 1.4rem;
  }
  /* 왼쪽 카드 */
  .card.prev-card {
    transform: translateX(-200px) scale(0.8);
  }

  /* 오른쪽 카드 */
  .card.next-card {
    transform: translateX(200px) scale(0.8);
  }

  /* img slider */
  .img-slider-wrap {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .img-slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
  }
  .img-description {
    width: 300px;
    text-align: left;
  }
  .img-description ul li {
    margin: 10px 0;
  }
  .img-description ul li p {
    font-size: 1.6rem;
  }

  .short {
    margin-top: 40px;
  }
  .short > ul > li {
    width: 47%;
  }
  .short > ul > li:nth-last-child(2n-1) {
    margin-left: 6%;
    margin-bottom: 20px;
  }
  .short > ul > li > a {
    display: block;
  }
  .short > ul > li > a > img {
    width: 100%;
  }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0px;
  }
  #contact .contact-list {
    display: block;
    padding: 20px 0;
  }
  #contact .contact-list li {
    padding: 5px 0;
  }
  footer {
    padding: 16px;
  }
  .btn-top {
    right: 20px;
    bottom: 60px;
  }
} /* mobile End */
